<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo de Lógica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Jogo de Lógica de Programação</h1>
        <div class="menu">
            <a href="{{ url_for('licao', nivel=0) }}">Modo Principal</a>
            <a href="#" id="modo-desafio">Modo Desafio</a>
            <div id="submenu-dificuldade" class="submenu">
                <a href="{{ url_for('desafio', dificuldade='facil', nivel=0) }}">Fácil</a>
                <a href="{{ url_for('desafio', dificuldade='medio', nivel=0) }}">Médio</a>
                <a href="{{ url_for('desafio', dificuldade='dificil', nivel=0) }}">Difícil</a>
            </div>
            <a href="#" onclick="window.close()">Sair</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
